<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link type="text/css" rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant&family=Raleway&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>MyFoodBlog</title>
</head>
<body>

    <nav class="navMenu">
        <div class="nav-container">
        <div class="title"><a href="/"></a>MyFoodBlog</div>
        <div class="navBar-items">
            <a href="/" class="nav-item">Home</a>
            

            <%/* if(!loggedIn) { */%>
            <a href="/sessions/login" class="nav-item">Login</a>
            <a href="/sessions/register" class="nav-item">Register</a>
            
            <%/* } else { */%>
            <a href="/sessions/register" class="nav-item">||</a>
            
            <a href="/new" class="nav-item createANewItem">Create a New Item</a>
            <a href="/new" class="nav-item create">Create</a>
            <a href="/sessions/logout" class="nav-item">Logout</a>
            <%/* } */%>
    <%/* if (username) { */%> 
    <p>Welcome, <%=/* username */%> </p>
    <%/* } */%>
    </div>
</div>
    </nav>
    <%-body%>
</body>
</html>





<!--         
           <li>
               <div id="meal-title-box">
                    <h1 id="meal-title">MyFoodBlog</h1>
                </div>
            </li> -->