<body>
  <div id="new-item-title">
    <h1>New Item</h1>
  </div>

  <div id="new-item-container">
    <form action="/meal/new" method="POST">
      <div id="new-title-div">
        <label for="dish">Dish</label>
        <input type="text" name="dish" id="dish" />
      </div>

      <br/>

      <div>
        <label for="ingredients">ingredients</label>
        <textarea
          type="text"
          name="ingredients"
          id="ingredients"
          style="height: 4rem; width: 15rem; margin-top: 1em"
        ></textarea>
      </div>
      <br/>

      <label for="recepie">Recepie</label>
      <textarea
        type="text"
        name="recepie"
        id="recepie"
        style="height: 4rem; width: 15rem; margin-top: 1em"
      ></textarea>

      <br/>

      <br />
      <input type="submit" value="A New Item" style="margin-top: 1em" />
    </form>
  </div>
</body>
