<body>
  
  <div id="new-item-title">
    <h1>New Item</h1>
  </div>

  <div id="new-item-container">

    <form action="/chunks/new" method="POST">

      <div id="new-title-div">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" />
      </div>

      <br>

<div>
  <label for="prompt">Prompt</label>
  <textarea type="text" name="prompt" id="prompt" style="height: 4rem; width: 15rem; margin-top: 1em;" ></textarea>
</div>
      
<br>
      <label for="zipFile">Zip File</label>
      <textarea type="text" name="zipFile" id="zipFile" style="margin-top: 1em;" ></textarea>

      <br>

      <label for="description">Description</label>
      <textarea type="text" name="description" id="description" style="height: 4rem; width: 15rem; margin-top: 1em;" ></textarea>

      <br>

      <label for="VideoFile">Video File</label>
      <textarea type="text" name="videoFile" id="videoFile" style="margin-top: 1em;"></textarea>

      <br>
      <input type="submit" value="A New Item"  style="margin-top: 1em;"/>
    </form>
  </div>
</body>
