<body>
  <div id="new-item-title">
    <h1>New Item</h1>
  </div>

  <div id="new-item-container">
    <form
      id="new-item-container"
      action="/meal/new"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="new-item-field-div">
        <label class="new-item-field-label" for="dish">Dish</label>
        <textarea
          class="new-item-textarea-dish"
          type="text"
          name="dish"
          id="dish"
        ></textarea>
      </div>

      <div class="new-item-field-div">
        <label class="new-item-field-label" for="ingredients"
          >Ingredients</label
        >
        <textarea
          class="new-item-textarea"
          type="text"
          name="ingredients"
          id="ingredients"
          
        ></textarea>
      </div>
      <div class="new-item-field-div">
        <label class="new-item-field-label" for="recepie">Recepie</label>
        <textarea
          class="new-item-textarea"
          type="text"
          name="recepie"
          id="recepie"
          
        ></textarea>
      </div>
      <div class="upload-new-img-div">
        <!-- <textarea type="text" name="image" id="image"value=""></textarea> -->

        <div class="form-group">
          <label class="new-item-field-label" for="Select Image:"
            >Upload Image:</label>
            <label class="new-item-field-label-under" for="Select Image:"
            >Must be PNG</label>
          <input class="upload-new-img-input" type="file" name="image" class="form-control" id="upload-new-img-input" />
        </div>
      </div>
      <div>
        <input id="create-item-input" type="submit" value="Create Item" />
      </div>
    </form>
  </div>
</body>
