
<body>
    <h1>New Item</h1>
<form action="/new" method='POST'>
    
    <label for="name">Name</label>
    <input type="text" name="name" id='name'>

    <label for="Description">Description</label>
    <input type="text" name="description" id='description'>

    <label for="img">Img</label>
    <input type="text" name="img" id='img'>

    <label for="price">Price</label>
    <input type="number" name="price" id='price'>

    <label for="qty">Quantity</label>
    <input type="number" name="qty" id='qty'>

    <input type="submit" value='A New Item'>
</form>
