
/*// TITLE AND NAV BAR
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  #chunks-title-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px, 0, 10px, 0;
    padding: 10px, 0, 10px, 0;
  }

  #chunks-title {
    display: flex;
    justify-content: center;
      border: black dotted 2px;
      border-radius: 10%;
      width: 275px;
      font-size: 60px;
      margin: 10px, 0, 10px, 0;
     
  }
  /*//
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/










  /*// ITEMS
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/
.item-title {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#items-a-container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.item {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 4px; 
  text-decoration: none;
}

#prompt-div {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

.item-below-prompt {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  text-decoration: none;
}


#zipFile-div {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

#description-div {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

#videoFile-div {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}


#edit-and-delete {
  display: flex;
  justify-content: center ;
  margin: 5px;
}

#delete-button {
  margin-right: 10px;
}

#edit-div {
  margin-left: 10px;
}
  /*//
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/





/*// EDIT PAGE
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/


#edit-item-title {
  display: flex;
  justify-content: center;
}

#edit-item-container {
  display: flex;
  justify-content: center;
}







/*//
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/


/* input[type=text] {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
} */