
*{
  margin: 0;
  cursor: default;
}

textarea {
  resize: none;
  height: 06em;
  width: 20rem;
  word-break: break-all;
  border-radius: 10px;
  border: 2px black solid;
}
/*// TITLE AND NAV BAR
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/
.navMenu{
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  width: 100%;
  height: 3rem;
  background: black;
  text-decoration: none;
}

.navBar-items{
  margin-left: 4rem;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.nav-item{
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  height: 100%;
  padding: 0 2rem 0 2rem;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
}

.nav-item:hover{
  background-color: grey;
}

.title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
}
.title:hover{
color: yellow;
cursor: pointer;
}

.nav-container{
  display: flex;
  align-items: center;
  margin-left: 3rem;
  width: 100%;
  height: 100%;
}



@media screen and (min-width: 1400px) {
  .create{
    display: none;
  }
 
}

@media screen and (max-width: 1400px) {
  .create{
    align-items: center;
    font-size: 20px;
    color: white;
    height: 100%;
    padding: 0 2rem 0 2rem;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
  }
  .createANewItem{
    display: none;
  }

 
}
/* .create:hover{
  background-color: grey;
} */

  /*//
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/










  /*// ITEMS
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/

.itemsContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  height: 100vh;
}

.item-container{
  display: flex;
  height: 35rem;
  width: 25rem;
  padding: 0 1rem 1rem 1rem;
  margin: 0 2rem 0 2rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

@media screen and (max-width: 1000px) {
  .item-container{
    display: flex;
    height: 35rem;
    width: 25rem;
    padding: 0 1rem 1rem 1rem;
    margin: 4rem 2rem 0 2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
  }
  .itemsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
  }
}
/* mediaquery to make margin on top 3rem after 800px  */

/* .inner-item-container{
  border: 1px solid red;
} */

.dish-header{
  color: grey;
  font-family: 'Roboto Mono', monospace;
  text-decoration: grey underline;
}
.dish-header:hover{
  color: black;
}

.ingredients-title{
  padding: .5rem 0 0 0;
  font-family: 'Roboto Mono', monospace;
  color: grey;
  text-decoration: grey underline 3px;
}

.link_to_items{
  font-family: 'Roboto Mono', monospace;
  color: grey;
  text-decoration: none;
}
.link_to_items:hover{
  color: black;
}


.recepie-title{
  padding: .5rem 0 0 0;
  font-family: 'Roboto Mono', monospace;
  color: grey;
  text-decoration: grey underline 3px;
}

.recepie-p{
  font-family: 'Roboto Mono', monospace;
  color: grey;
}
.recepie-p:hover{
  color: black;
}


.edit-and-delete-index-container{
 display: flex;
 justify-content: center;
 margin: 0 1rem 0 1rem;
}

.edit-text-index{
  font-family: 'Roboto Mono', monospace;
  color: grey;
  text-decoration: grey underline 2.5px;
  font-size: 20px;
  margin: 0 1rem 0 1rem;
}

.edit-text-index:hover{
  color: black;
  font-family: 'Roboto Mono', monospace;
  text-decoration: grey underline 2.5px;
}
.edit-text-div{

}

.delete-button-text-index{

}

.delete-button-index{

}
/* ///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////// */




/*// EDIT AND DELETE BUTTONS ON SHOW PAGE
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/

.edit-and-delete{
  display: flex;
  padding: 2rem 0 0 0;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
}

.delete-button{
  padding: 0;
  border: none;
  background: none;
}

.home-ref{
  background-color: white;
  border: none;
  font-family: 'Roboto Mono', monospace;
  color: grey;
  text-decoration: grey underline 2.5px;
  font-size: 20px;
}

.home-ref:hover{
  color: black;
  font-family: 'Roboto Mono', monospace;
  text-decoration: grey underline 2.5px;
}

.delete-button-text{
border: none;
font-family: 'Roboto Mono', monospace;
color: grey;
text-decoration: grey underline 2.5px;
}

.delete-input{
  background-color: white;
  border: none;
  font-family: 'Roboto Mono', monospace;
  color: grey;
  text-decoration: grey underline 2.5px;
  font-size: 20px;
  /* color: blue; */
}

.delete-input:hover{
  color: black;
  font-family: 'Roboto Mono', monospace;
  text-decoration: grey underline 2.5px;
}

.edit-text{
  font-family: 'Roboto Mono', monospace;
  color: grey;
  text-decoration: grey underline 2.5px;
  font-size: 20px;
}
.edit-text:hover{
  color: black;
  font-family: 'Roboto Mono', monospace;
  text-decoration: grey underline 2.5px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////// */





/* =================================== EDIT PAGE =================================== */


/*// EDIT PAGE
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/


#edit-item-title {
  display: flex;
  justify-content: center;
  color: grey;
  font-family: 'Roboto Mono', monospace;
  text-decoration: grey underline;
}

#edit-item-container {
  display: flex;
  justify-content: center;
}

.form-edit_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.editLabel{
  margin: 2rem 0 .5rem 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: grey;
  text-decoration: grey underline 2.5px;
}

textarea{
  color: grey;
}


/*//
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/


/* //SHOW CARD
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/

.show-div-container{
  display: flex;
  flex-direction: column;
  margin: 3rem 10rem 0 10rem;
}

.item-show{
  margin: 0 0 2rem 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: grey;
  border: black solid underline;
}

#item-show-Dish{
  margin: 0 0 2rem 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: grey;
}

span {
  font-size: larger;
  color: black;
}

.image-show{
  height: 40rem;
  width: 30rem;

}

.img-show-div{
  display: flex;
}



/* //NEW ITEM PAGE
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/


#new-item-title{
  display: flex;
  justify-content: center;
  color: grey;
  font-family: 'Roboto Mono', monospace;
  text-decoration: grey underline;
  margin: 2rem 0 0 0;
}

#new-item-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.new-item-field-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

.new-item-field-label{
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: grey;
  text-decoration: grey underline 2.5px;
  margin: 0 0 1rem 0;
}

.new-item-textarea{
  width: 30rem;
  height: 10rem;
}

.new-item-textarea-dish{
  width: 30rem;
  height: 3rem;
}

.upload-new-img-input{
  display: flex;
  justify-content: center;
  margin: 0 0 0 2rem;
}

#create-item-input{
  width: 33rem;
  height: 3rem;
  margin: 3rem 0 3rem 0;
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
#create-item-input:hover{
  width: 34rem;
  height: 3.5rem;
  font-family: 'Roboto Mono', monospace;
}



/*// LOGIN AND REGISTER PAGES
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/
.login-Container{

}
.login-Title{
  display: flex;
  justify-content: center;
  color: grey;
  font-family: 'Roboto Mono', monospace;
  text-decoration: grey underline;
  margin: 2rem 50% 0 50%;
}

.LR-input{
  width: 33rem;
  height: 3rem;
  border-radius: 10px;
  color: grey;
  font-size: 20px;
}

.LR-label{
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  color: grey;
  text-decoration: grey underline 2.5px;
  margin: 2rem 0 1rem 0;
}

.login-Form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:30%;
  margin: 0 auto;
}

.fieldset-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  width: 36rem;

}

.LR-submit-input{
  width: 35rem;
  height: 3rem;
  margin: 3rem 0 3rem 0;
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;
  border-radius: 10px;
}

.LR-submit-input:hover{
  width: 35rem;
  height: 3.5rem;
  font-family: 'Roboto Mono', monospace;
}
