<div class="login-Container"></div>
<h1  class="login-Title">Register</h1>
<form  class="login-Form" action="/sessions/register" method="POST">
    <fieldset class="fieldset-box">
        <label class="LR-label" for="username">Username:</label>
        <input class="LR-input"  type="text" id="username" name="username">
    </fieldset>
    <fieldset class="fieldset-box">
        <label class="LR-label" for="password">Password:</label>
        <input class="LR-input"  type="password" id="password" name="password">
    </fieldset>
    <fieldset class="fieldset-box">
        <label class="LR-label" for="verifyPassword">Verify Password:</label>
        <input class="LR-input"  type="password" id="verifyPassword" name="verifyPassword">
    </fieldset>
    <input class="LR-submit-input" type="submit" value="Register">
</form>
</div>