<h1>Register</h1>
<form action="/sessions/register" method="POST">
    <fieldset>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </fieldset>
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </fieldset>
    <fieldset>
        <label for="verifyPassword">Verify Password:</label>
        <input type="password" id="verifyPassword" name="verifyPassword">
    </fieldset>
    <input type="submit" value="Register">
</form>